.form {
  background: transparent;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.form__fieldset:last-child {
  margin-bottom: 0;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin-bottom: 8px;
}

.form__label--checkbox {
  margin: 0;
}

.form__input {
  width: 385px;
  height: 60px;
  box-sizing: border-box;
  padding-left: 20px;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button-submit {
  width: 385px;
  height: 60px;
  color: #fff;
  background-color: #2f80ed;
  border: none;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button-submit:hover {
  opacity: 0.7;
  transition-duration: 0.5s;
}

.form__input-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  vertical-align: middle;
  margin-right: 12px;
}
