.menu {
    box-sizing: border-box;
    background-color: #0a2750;
    background-image: url(../images/background_menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
  }
  
  .menu__title {
    max-width: 780px;
    margin-top: 63px;
    margin-bottom: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #fff;
  }
  
  .menu__subtitle {
    max-width: 780px;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 0;
  }
  
  .menu__cards {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
  }
  
  .card__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 32px;
  }
  
  .card__list {
    flex-grow: 1;
    width: 600px;
    padding-left: 0;
  }
  
  .card__list-divider {
    flex-grow: 1;
    border-bottom: 1px solid #fff;
    bottom: 4px;
  }
  
  .card__list-item {
    display: flex;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    list-style: none;
    color: #fff;
    margin-bottom: 16px;
    gap: 10px;
  }
  