.menu {
  box-sizing: border-box;
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.menu__title {
  max-width: 780px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.menu__subtitle {
  max-width: 780px;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 0;
}

.menu__cards {
  width: 100%;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}
