@import url(../vendor/normalize.css);
@font-face {
  font-family: Noto Serif;
  src: url(/Fonts/Noto_Serif/NotoSerif-Regular.ttf);
}

body {
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
  }
  
  .page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
  }
  
  .header {
    background-color: #fff;
    background-image: url(/images/background_header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
    box-sizing: border-box;
  }
  
  .nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 125px;
    height: 142px;
    margin-top: 30px;
    margin-left: 30px;
    }
  
  .nav__links {
    list-style: none;
    margin-top: -30px;
    margin-right: 80px;
    display: flex;
    column-gap: 20px;
  }
  
  .nav__link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }
  
   .nav__link:hover {
    color: #2f80ed;
    transition: 2s ease-in;
  }
  
  .header__title {
    font-size: 60px;
    line-height: 72px;
    font-weight: 500;
    margin: 202px 0 0 80px;
    max-width: 729px;
  }

  .header__title_span-accent {
    font-family: 'Noto_Serif';
    color:#2F80ED;
    font-style: italic;
  }
  
  .header__description {
    font-family: 'Noto_Serif';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0 80px;
    max-width: 683px;
  }
  
  .header__image {
    width: 646px;
    height: 568px;
    align: center;
    position: absolute;
    z-index: 1;
    top: 124px;
    right: 5px;
  }
  
  .footer__list {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    bottom: 40px;
    left: 80px;
    color: #6f6f6f;

  }
  
  .header__address {
    right: 80px;
    bottom: 40px;
    color: #6f6f6f;
    justify-content: flex-end;
  }
  